# Visual Studio cache directory
.vs/
/Thesis Unity Project/Assets/Game/ScriptableObject.meta
/Thesis Unity Project/Assets/Game/ScriptableObject
/Thesis Unity Project/Assets/logs
/Thesis Unity Project/Assets/logs.meta
